{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<div class="row">
	<h1>Contact Form</h1>
	<p>Fill in this form to contact the site owners.</p>
</div>

<form action="" method="POST">
	<h3 class="field">
	<p>Please enter your full name</p>

	
	<input type="submit" value="Send" class="btn btn-default" />
</form>

<h3>Name</h3>
Please enter your full name
<input id="name" class="form-control" type="text">

<h3>E-Mail</h3>
Please enter your email address
<input id="email" class="form-control" type="email">

<h3>Subject</h3>
<input id="subject" class="form-control" type="text">

<h3>Message</h3>
<input id="message" class="form-control" type="text">

{% endblock %}